@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-bolditalic.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body{
display: flex;
flex-direction: column;
min-height: 100%;
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height: 24px;
color: #000000;
background-color: #FFFFFF;
width: 1200px;
padding: 0;
margin: 0 auto;
border: 0;
box-sizing: border-box;
}
ul {
padding: 0;
margin: 0 auto;
border: 0;
box-sizing: border-box;
}
li {
list-style-type: none;
 }
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header{
color: #000000;
background-color: #FFFFFF;
align-items: start;
}
.navigation {
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
}
.navigation-list {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
}
.navigation-link {
  display: block;
  padding: 24px 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}
.navigation-user {
font-size: 18px;
line-height: 17px;
max-width: 250px;
margin-left: 430px;
margin-right: 70px;
display: flex;
justify-content: space-between;
padding: 23.15px 13px 22.5px 0;
}
.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}
.main-container {
  flex-grow: 1;
  padding-bottom: 81px;
}
.welcome-anthem {
  color: #000000;
background-color: #FFFFFF;
background-image: url("../images/index-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
text-align: center;
padding-top: 10px;
margin: 0 auto;
padding: 40px 0 90px 0;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}
.sedona-town {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.advantages-item-deep-blue {
  background-color: #82B3D3;
}
.advantages-item-very-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.advantages-item {
  width: 400px;
}
.mailing {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.booking {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 1200px;
  margin-top: 81px;
}
.contacts {
  color: #FFFFFF;
background-color: #000000;
background-image: url("../images/footer-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  background-color: #FFFFFF;
  padding-top: 30px;
}
.footer-social-list {
  display: flex;
  margin-top: 45px;
  margin-bottom: 35px;
  list-style-type: none;
}
.footer-social-item {
  width: 22px;
  height: 17px;
  margin-right: 13px;
  margin-bottom: 8px;
}
.contact-phone {
  width: 331px;
}

.site {
  width: 115px;
  height: 33px;
}

.inner-header{
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 68px;
  line-height: 78px;
}
.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-link {
  color: inherit;
}
.catalog-products {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  width: 1200px;
  margin-right: 40px;
}
.catalog-filter-title-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.catalog-filter-title-2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.sorting-container {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  padding: 70px, 70px, 200px, 90px;
  margin-bottom: 64px;
}
.hotels {
  list-style-type: none;
  flex-wrap: wrap;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.product-card-link {
  text-decoration: none;
}
.product-card-title {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}
.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.product-card-button {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.pagination {
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 40px 68px 60px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-show-more {
  margin-left: auto;
}
.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #ffffff;
}
.contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}
